@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import '_reset.scss';

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #e7f6ff;
}


.wrapper {
  margin: 30px 0 0 0;
}

.container {
  margin: 0 auto;
  overflow: hidden;
  max-width: 1080px;
  background: #FFFFFF;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
  border-radius: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 43px 63px 44px 45px;
  border-bottom: 1px solid #EAEAEA;


  &__left {
    display: flex;
    align-items: center;

    img {
      margin: 0 16px 0 0;
      width: 40px;
      height: 40px;
    }
  }

  &__info {
    h3 {
      font-weight: 700;
      font-size: 20px;
      line-height: 24px;
      text-transform: uppercase;

      color: #000000;
    }

    p {
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
      color: #9D9D9D;
    }
  }

  &__right {
    display: flex;
    align-items: center;

    li {
      cursor: pointer;
    }

    li:not(:last-child) {
      margin: 0 15px 0 0;
    }

    img {
      width: 18px;
      height: 18px;
    }

    span {
      margin: 0 0px 0 10px
    }
  }
}

.content {
  padding: 45px 60px 75px 60px;

  &__block-favoriteOFF {
    align-items: center;
    text-align: center;

    h1 {
      font-weight: 600;
      font-size: 24px;
      line-height: 29px;
      text-align: center;
      margin: 24px 0 11px 0;
      color: #000000;
    }

    p {
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      text-align: center;

      color: #000000;
      margin: 0 0 50px 0;
      opacity: 0.4;
    }
  }

  &__block {
    margin: 0 0 40px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

    h1 {
      font-weight: 700;
      font-size: 28px;
      line-height: 39px;
      color: #000000;
      max-width: 500px;
    }
  }

  &__remove-img {
    position: absolute;
    right: 0;
    cursor: pointer;
    height: 18px;
    width: 18px;
  }

  &__search {
    position: relative;
    display: flex;
    align-items: center;
    border: 1px solid #F3F3F3;
    border-radius: 10px;
    padding: 14px 18px;

    img {
      margin: 0 13.75px 0 0;
    }

    input {
      padding: 0 0 0 10px;
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
      color: #C4C4C4;
    }
  }


}

.card {
  display: flex;
  flex-wrap: wrap;
  row-gap: 30px;
  column-gap: 40px;

  &__favorite {
    position: absolute;
    cursor: pointer;
  }

  &__block {
    border: 1px solid #F3F3F3;
    border-radius: 40px;
    padding: 22px 30px 32px 30px;
    width: 210px;
    transition: box-shadow 0.2s ease-in-out, transform 0.2s ease-in-out;

    &:hover {
      box-shadow: 0px 14px 30px rgba(0, 0, 0, 0.05);
      transform: translateY(-5px);
    }
  }


  &__text {
    margin: 14px 0;
    font-weight: 400;
    font-size: 13px;
    line-height: 17px;

    color: #000000;
  }

  &__down {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__price {

    p {
      font-weight: 500;
      font-size: 11px;
      line-height: 13px;
      text-transform: uppercase;

      color: #BDBDBD;
    }

    b {
      font-weight: 700;
      font-size: 14px;
      line-height: 17px;
      color: #000000;
    }
  }

  &__img {
    width: 133px;
    height: 112px;
  }

  &__plus {
    cursor: pointer;
  }
}


// Drawer

.drawer {
  overflow: auto;
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 385px;
  height: 100%;
  right: 0;
  background: #FFFFFF;
  box-shadow: -10px 4px 24px rgba(0, 0, 0, 0.1);
  padding: 30px;

  &__box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: 200px 0 0 0;

    h2 {
      margin: 21px 0 0 0;
      font-weight: 600;
      font-size: 22px;
      line-height: 27px;
      color: #000000;
    }

    p {
      margin: 5px 0 40px 0;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      text-align: center;

      color: #000000;

      opacity: 0.4;
    }
  }

  &__btn {
    position: relative;
    background: #9DD458;
    border-radius: 18px;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    width: 245px;
    color: #FFFFFF;
    padding: 18px;

    img {
      transition: transform 0.15s ease-in-out;

      transform: rotate(180deg);
      transition: transform 0.15s ease-in-out;
      position: absolute;
      left: 20px;
      top: 21px;
    }

    &:hover {
      img {
        transform: translateX(5px);
      }
    }
  }

  &__up {
    margin: 0 0 30px 0;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    justify-content: space-between;
  }

  &__item {
    display: flex;
    align-items: center;
    width: 325px;
    height: 119px;
    border: 1px solid #F3F3F3;
    border-radius: 20px;
    padding: 20px 20px 29px 20px;

  }

  &__items {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    flex: 1;
  }

  &__text {
    margin: 0 12px 0 21px;

    p {
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
    }

    b {
      font-weight: 700;
      font-size: 14px;
      line-height: 17px;
    }
  }

  &__remove-img {
    cursor: pointer;
    opacity: 0.5;

    &:hover {
      opacity: 1;
    }
  }

  &__sneakers-img {
    width: 70px;
    height: 70px;
  }

  &__li {
    display: flex;
    align-items: flex-end;
    margin: 0 0 20px 0;
  }

  &__down {
    margin: 40px 0 0 0;

    div {
      flex: 1;
      height: 1px;
      position: relative;
      top: -4px;
      border-bottom: 1px dashed #DFDFDF;
      margin: 0 8px;
    }

    ul {
      margin: 0 0 40px 0;
    }

    .greenBtn {
      position: relative;

      &:hover {
        img {
          transform: translateX(5px);
        }
      }

      img {
        transition: transform 0.15s ease-in-out;

        position: absolute;
        right: 30px;
        top: 20px;
      }
    }
  }
}

.overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.greenBtn {
  width: 325px;
  height: 55px;
  background: #9DD558;
  border-radius: 18px;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  cursor: pointer;
  transition: background 0.2s ease-in-out;
  color: #FFFFFF;

  &:hover {
    background: #9dd558e3;
  }

  img {}
}